* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: transparent;
  overflow: hidden;
  height: 100vh;
}

#date{
  background-color: red;
  display: flex; 
  flex-direction: column;
  align-items: c;
  gap: 5px;

  height: 100%;
  width: min-content;
}

#date>div{
  background-color: lime;
  flex: 1;
  width: min-content;
}

#date>div.active{
  background-color: green;
  flex: 4;

  display: flex;
  padding-inline: 10px;
  gap: 10px;
}
#date>div.active h3{
  justify-content: end;
  display: flex; flex-direction: column;
  background-color: yellow;
  width: 80px;
}
#date>div.active h3 span:nth-of-type(2){
  background-color: orange;
  text-align: right;
}